<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>Hi , <%= first_name %> <%= last_name %></h1>
	<p> Your OTP : <%= verification.otp %></p>
	<p> OTP Expired At : <%= verification.expire %></p>
</body>

</html>