<!DOCTYPE html>
<html>

<head>
	<style>
		.para {
			margin: 20px 5px;
			text-align: left;
		}
	</style>
</head>

<body>
	<section>
		<h2>Dear <%= first_name %>
				<%= last_name %> ,</h2>

		<div class="para">
			We're thrilled to welcome you to the nodejs_basic_auth community!
		</div>
	</section>
</body>

</html>