<div class="modal fade" id="modal-docs">
    <div class="modal-dialog modal-docs modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Documents</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if(userData && userData.document_detail && userData.document_detail.length){ %>
                    <% userData.document_detail.forEach(function(itm,index){ %>
                        <div class="row border-bottom">
                            <img style="overflow: hidden;" class="m-3" src="<%= encodeURI(userData.document_detail[index].path) %>"
                                alt="doc image" />
                        </div>
                        <% }); %>
                            <% }else{ %>
                                No Documents Founded
                                <% } %>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>